@import url("https://fonts.googleapis.com/css2?family=Festive&family=Gideon+Roman&family=Raleway:wght@200;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Raleway", "Times New Roman", Times, serif;
}
a {
  text-decoration: none;
}
.hero_container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* hero section */
#hero {
  background-image: url(https://images.pexels.com/photos/6177639/pexels-photo-6177639.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-size: cover;
  background-position: top center;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
#hero::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: -1;
}
#hero h1 {
  display: block;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  color: white;
}
#hero h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 00%;
  background-color: navy;
  animation: text 1s ease;
  animation-delay: 1s;
}
#hero .cta {
  display: inline-block;
  padding: 10px 30px;
  color: navy;
  background-color: transparent;
  border: 2px solid navy;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  margin-top: 25px;
  transition: 0.3s ease background-color;
  transition-property: background-color, color;
}
#hero .cta:hover {
  color: whitesmoke;
  background-color: red;
}
/* end of hero section */
/* keyframes */
@keyframes text {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
/* end keyframes */
